
.wrapper-columns-form {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 50%;
}

.expanded-form {
  min-width: 250px;
  max-width: 1000px;
  width: 100%;
  margin: 15px 5px;
  position: center;
}
