*{
  font-family: Poppins, sans-serif;
  margin: 0;
}

.header-container{
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 0.5px solid #cfcfcf;
  background: white;
}

a{
  color: #F28245;
}
a:hover{
  color: #cc6933;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}

header span {
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
}

div #title{
  align-content: center;
  letter-spacing: 1.9px;
  margin-bottom: 15%;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 36px;
}

#form{
  left: 50%;
  top: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -40%;
  position: absolute;
  margin-top: -13%;
  padding: 1% 5%;
  border: 0.5px solid #cfcfcf;

}

.example-form {
  min-width: 250px;
  max-width: 1000px;
  width: 100%;
  margin: 15px 5px;
  position: center;
}
#image_upload{
  width: 100%;
}
.example-full-width {
  width: 100%;
  border-radius: 9%;
}
td {
  padding-right: 8px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 15px;
  width: 68px;
  height: 36px;

  /* v-text/button */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;

  /* identical to box height, or 257% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.25px;

  /* shades/white */
  color: #FFFFFF;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  background: #F28245;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 1;
}

.example-disabled {
  display: inline-block;
}

.example-disabled {
  display: inline-block;
}
#example-flex-container {
  margin: 9% 0 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

