<mat-toolbar class="header-container" style="display: flex; justify-content: space-between">
  <img src="assets/NOW-logo.svg" style="width: 64px">
  <div>
    <a mat-flat-button (click)="navigateToHomepage()" target="_self">Homepage</a>
    <a mat-flat-button (click)="navigateToLandingPage()" target="_self">Logout</a>
  </div>
</mat-toolbar>

<div id="form">
    <form [formGroup]="onboardingForm" (ngSubmit)="submitForm()" class="example-form">
      <h2 id="title">Hello! Please tell us a little about yourself.</h2>
     <div class="wrapper">
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field appearance="fill">
          <mat-label>University year</mat-label>
          <mat-select [formControlName]="'universityYear'">
            <mat-option *ngFor="let year of years"
                        [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field></td>
        <td><mat-form-field appearance="fill">
          <mat-label>Choose organization</mat-label>
          <mat-select [formControlName]="'organization'">
            <mat-option *ngFor="let org of organizations"
                        [value]="org">
              {{org}}
            </mat-option>
          </mat-select>
        </mat-form-field></td>
      </tr></table>

      <p>
        <mat-form-field class="example-full-width">
          <mat-label> Short bio </mat-label>
          <textarea type="text" matInput [formControlName]="'shortBio'" placeholder=""></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label> List of certificates </mat-label>
          <textarea type="text" matInput [formControlName]="'certificates'" placeholder=""></textarea>
        </mat-form-field>
      </p>
     </div>

      <div class="wrapper">
      <table class="example-full-width" cellspacing="0">
        <tr><td><mat-form-field class="example-full-width">
          <mat-label> Linkedin URL </mat-label>
          <input type="text" matInput [formControlName]="'linkedinUrl'" placeholder="">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label> GPA </mat-label>
          <input type="number" matInput [formControlName]="'gpa'" placeholder="Ex. 4.0" value="">
        </mat-form-field></td>
        </tr>
        <td><mat-form-field id="image_upload">
          <mat-label> Upload image </mat-label>
          <textarea type="text" matInput [formControlName]="'uploadImage'" placeholder=""></textarea>
        </mat-form-field></td>
      </table>
      </div>
      <div class="example-button-row" id="example-flex-container">
        <button type="submit" mat-stroked-button>Submit</button>
        <button type="button" (click)="navigateToHomepage()" mat-stroked-button>Close</button>
      </div>
    </form>
  </div>

