<app-header-guest></app-header-guest>

<div class="wrap-center">

  <div class="wrap-center separator-40">
    <h1>There is no time to waste, sign in to see the best volunteering positions. 👔🔥</h1>
    <h4>You can search through many options and build your online portofolio.</h4>
  </div>

  <div class="list-img separator-down">
    <img class="position-top" src="assets/landing/landing-1.jpeg">
    <img class="position-bottom" src="assets/landing/landing-2.jpg">
    <img class="position-top" src="assets/landing/landing-3.jpg">
    <img class="position-bottom" src="assets/landing/landing-4.jpg">
  </div>

  <div class="landing-bottom">
    <h4>Your company has open positions for young volunteers?</h4>
    <button (click)="navigateToOrgRegister()" class="button-link">Sign in as an organization.</button>
  </div>

</div>
