<app-header-main></app-header-main>

<div>
  <h2>Review your works 📋</h2>
  <h4>Search through the list of your finished jobs below.</h4>
</div>

<table mat-table [dataSource]="works" class="mat-elevation-z8">
  <ng-container matColumnDef="opportunity">
    <th mat-header-cell *matHeaderCellDef> Opportunity </th>
    <td mat-cell *matCellDef="let element"> {{element.opportunity}} </td>
  </ng-container>

  <ng-container matColumnDef="organization">
    <th mat-header-cell *matHeaderCellDef> Organization </th>
    <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
  </ng-container>

  <ng-container matColumnDef="date_created">
    <th mat-header-cell *matHeaderCellDef> Application created on </th>
    <td mat-cell *matCellDef="let element"> {{element.date_created}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
