
<div class="example-button-row">
  <button mat-stroked-button class="action-button" color="white"
          (click)="goBack()">Back to homepage</button>

</div>

<table mat-table [dataSource]="works" class="mat-elevation-z8">

  <!-- Opportunity Column -->
  <ng-container matColumnDef="opportunity" class="content">
    <th mat-header-cell *matHeaderCellDef> Opportunity </th>
    <td mat-cell *matCellDef="let element"> {{element.opportunity}} </td>
  </ng-container>

  <!-- Organization Column -->
  <ng-container matColumnDef="organization" class="content">
    <th mat-header-cell *matHeaderCellDef> Organization </th>
    <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
  </ng-container>

  <!-- Application created on Column -->
  <ng-container matColumnDef="date_created" class="content">
    <th mat-header-cell *matHeaderCellDef> Application created on </th>
    <td mat-cell *matCellDef="let element"> {{element.date_created}} </td>
  </ng-container>

  <!-- Pts collected Column -->
  <ng-container matColumnDef="pts" class="content">
    <th mat-header-cell *matHeaderCellDef> Pts collected </th>
    <td mat-cell *matCellDef="let element"> {{element.pts}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status" class="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
