header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

#opportunities{
  color: #cc6933;
}

header .title a {
  font-weight: bold;
}

header div a {
  font-weight: bold;
}

div a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

header img {
  padding-right: 600px;
}
section {
  display: flex;
  flex-flow: column;
  padding-bottom: 20px;
}

section button {
  background: #cc6933;
  color: white;
  margin-left: 20px;
}

section h1 {
  margin-left: 50px;
  position: absolute;
}
section div {
  margin-top: 20px;
  margin-left: 1400px;
  margin-right: 20px;
}

div span {
  margin: 20px;
}

#card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 20px;
}

#title {
  margin-top: auto;
  margin-left: 10px;
  font-weight: bold;
}

#description {
  text-align: justify;
}

#image {
  margin-bottom: auto;
  width: 100%;
  height: auto;
}

.example-card {
  max-width: 350px;
}

.title {
  display: block;
}
