header {
  padding: 40px;
  border-bottom-style: solid;
  display: flex;
  justify-content: space-between;
}

header span {
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
}

div a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

section div {
  margin-top: 20px;
  margin-left: 1400px;
}

div span {
  margin: 20px;
}

#card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 20px;
}

#title {
  margin-top: auto;
  margin-left: 10px;
  font-weight: bold;
}

#description {
  text-align: justify;
}

#image {
  margin-bottom: auto;
  width: 100%;
  height: auto;
}

.example-card {
  max-width: 350px;
}
