<header>
  <span>NOW org</span>
  <div>
    <a mat-flat-button routerLink="/orgOpportunity" target="_self">Opportunities</a>
    <a mat-flat-button (click)="navigateToStudentList()" target="_self">All my students</a>
    <a mat-flat-button (click)="navigateToLandingPage()" target="_self">Logout</a>
  </div>
</header>

<section>
  <div class="example-button-row">
    <button mat-flat-button (click)="navigateToCreateOpportunity()">Create an opportunity</button>
  </div>
</section>

<div id="grid">
  <div id="card">
    <mat-card (click)="navigateToOpportunity(op.id)" class="example-card" *ngFor="let op of opportunities;">
      <img mat-card-image src="{{op.coverImage}}" alt="Cover" id="image">
      <mat-card-title id="title">{{op.title}}</mat-card-title>
      <mat-card-content>
        <p id="description">
          {{op.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
