<app-header-main></app-header-main>
<div>
  <div class="wrapper-intro">
    <div class="wrapper-content">
      <img src="{{profileImage}}">
      <div>
        <h1>{{fullName}}</h1>
        <p>{{email}}</p>
        <button type="button" (click)="navigateToOnboarding()" class="button-secondary-regular" mat-stroked-button>Edit profile</button>
      </div>
    </div>

    <div>
      <button type="button" class="button-secondary-regular separator-right" mat-flat-button>Copy Linkedin URL</button>
      <button type="button" (click)="openLinkedin(linkedinUrl)" class="primary-button" mat-flat-button color="primary">View Linkedin</button>
    </div>
  </div>

  <div >
    <div class="wrapper-text">
      <h3>👋 Short bio</h3>
      <p>{{shortBio}}</p>
    </div>

    <div>
      <h3>🎓 Education</h3>
      <div class="wrap-center-vertical row-gap">
        <p>University: {{universityName}}</p>
        <p>Year: {{universityYear}}</p>
        <p>GPA: {{gpa}}</p>
      </div>
    </div>
    <div>
      <h3>📝 Certificates</h3>
        <ul>
          <li>link.com</li>
          <li>link.com</li>
          <li>link.com</li>
        </ul>
    </div>

  </div>

</div>

