<app-header-main></app-header-main>
<div>
  <div class="wrapper-intro">
    <div class="wrapper-content">
      <img src="assets/portfolio-picture.jpeg">
      <div>
        <h1>Sarah Dedich</h1>
        <p>sarahdedich99@gmail.com</p>
        <button type="button" class="button-secondary-regular" mat-stroked-button>Edit profile</button>
      </div>
    </div>

    <div>
      <button type="button" class="button-secondary-regular separator-right" mat-flat-button>Copy Linkedin URL</button>
      <button type="button" class="primary-button" mat-flat-button color="primary">View Linkedin</button>
    </div>
  </div>

  <div >
    <div class="wrapper-text">
      <h3>👋 Short bio</h3>
      <p>Meet Sarah, a passionate and driven student currently in her third year pursuing a Bachelor's degree in
        Computer Science. With a deep-rooted love for technology and problem-solving, Sarah's journey in the world of CS
        has been nothing short of exciting. Beyond the classroom, Sarah actively seeks opportunities to apply her
        theoretical knowledge in practical settings. She has participated in numerous coding competitions and
        hackathons, where she thrives in collaborative environments and enjoys tackling real-world challenges. Her
        problem-solving skills, attention to detail, and ability to think critically make her a valuable asset to any
        team.</p>
    </div>

    <div>
      <h3>🎓 Education</h3>
      <div class="wrap-center-vertical row-gap">
        <p>University: SSST</p>
        <p>Year: 3</p>
        <p>GPA: 9.78</p>
      </div>
    </div>
    <div>
      <h3>📝 Certificates</h3>
        <ul>
          <li>link.com</li>
          <li>link.com</li>
          <li>link.com</li>
        </ul>
    </div>

  </div>

</div>

