<table mat-table   class="mat-elevation-z8">

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef> Fullname </th>
    <td mat-cell *matCellDef="let element"> Lejla Omerovic </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> lejlaaa.omerovic@gmail.com </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone number</th>
    <td mat-cell *matCellDef="let element">062 444 555 </td>
  </ng-container>

  <ng-container matColumnDef="coverLetter">
    <th mat-header-cell *matHeaderCellDef> Cover letter </th>
    <td mat-cell *matCellDef="let element"> I am so excited about this position. </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> Select </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
