<app-header-main-org></app-header-main-org>
<div>
  <div class="wrapper-content">
    <img src="{{coverImage}}">
    <div>
      <h2>{{title}}</h2>
      <div>
        <p>Posted on: 23.03.2023.</p>
        <p>Organisation: SSST University</p>
      </div>
      <h4>❗ Deadline: 01.05.2023.</h4>
      <div>
        <button *ngIf="isOwner" type="button" class="primary-button separator-right" mat-flat-button color="primary">Edit details</button>
        <button *ngIf="isOwner" type="button" class="button-secondary-regular" mat-stroked-button>Delete opportunity</button>
        <button *ngIf="!isOwner && !isApplied" type="button" (click)="openApply(id)" class="primary-button separator-right" mat-flat-button color="primary">Apply</button>
        <h4  *ngIf="isApplied" > Applied at: {{formatDate(appliedAt, "dd. MMM yyyy hh:mm", "en-US ")}}</h4>

      </div>
    </div>
  </div>
  <h3>Applicants</h3>

  <app-applicant-list *ngIf="isOwner" [applications]="applicants" [opportunityId]="id"/>
  <div>
    <h3>Short description</h3>
    <p>{{description}}</p>
  </div>
  <div>
    <h3>Requirements</h3>
    <p class="separator-down">{{requirements}}
    </p>
  </div>
</div>
