<app-header-main></app-header-main>
<div>
  <div class="wrapper-content">
    <img src="assets/portfolio-picture.jpeg">
    <div>
      <h2>Survey politics research</h2>
      <div>
        <p>Posted on: 23.03.2023.</p>
        <p>Organisation: SSST University</p>
      </div>
      <h4>❗ Deadline: 01.05.2023.</h4>
      <div>
        <button type="button" class="primary-button separator-right" mat-flat-button color="primary">Edit details</button>
        <button type="button" class="button-secondary-regular" mat-stroked-button>Delete opportunity</button>
      </div>
    </div>
  </div>
  <h3>Applicants</h3>
  <app-applicant-list></app-applicant-list>
  <div>
    <h3>Short description</h3>
    <p>We are seeking dedicated individuals interested in making a meaningful impact on political research through
      volunteer work. As a Political Research Assistant, you will play a vital role in supporting our team's efforts to
      gather, analyze, and synthesize data related to political trends, policies, and electoral campaigns. This position
      offers an excellent opportunity to gain firsthand experience in the field of politics, contribute to informed
      decision-making processes, and actively participate in shaping the political landscape.</p>
  </div>
  <div>
    <h3>Requirements</h3>
    <p class="separator-down">Conduct Research: Assist in conducting comprehensive research on political topics, including policy issues,
      legislative proposals, voting patterns, and political candidates. Utilize various reliable sources such as
      academic papers, reputable news outlets, and official government publications to gather relevant information.

      Data Collection and Analysis: Collect, organize, and analyze data pertaining to political campaigns, public
      opinion polls, and demographic trends. Help create detailed reports, charts, and presentations to effectively
      communicate research findings to team members and stakeholders.

      Monitor Political Events: Stay up to date with local, national, and international political events, including
      elections, debates, and policy discussions. Summarize key developments, analyze their potential implications, and
      provide regular updates to the research team.

      Assist with Fieldwork: Support fieldwork activities such as conducting surveys, interviews, and focus groups. Help
      develop questionnaires, recruit participants, and analyze data collected during these initiatives.

      Collaborate with Team: Work
    </p>
  </div>
</div>
