.example-card {
  max-width: 350px;
  height: 350px;
}

img {
  background-size: cover;
  object-fit: cover;
  height: 200px;
  width: 100%;
  margin-bottom: 8px;
}

#card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#description {
  text-align: justify;
}


mat-card-title {
  padding-left: 12px;
  font-weight: bold;
}

mat-card-subtitle {
  padding-left: 12px;
}

p {
  font-size: 15px;
}


