<app-header-main></app-header-main>

<div>
  <h2>The Land of opportunities 🏰</h2>
  <h4>All volunteer jobs are below, apply forever free.</h4>
</div>

<div id="card">
  <mat-card (click)="navigateToOpportunity(op.id)" class="example-card" *ngFor="let op of opportunities;">
    <img mat-card-image src="{{op.coverImage}}" alt="Cover">
    <mat-card-subtitle>Opportunity</mat-card-subtitle>
    <mat-card-title>{{op.title}}</mat-card-title>
    <mat-card-content>
      <p>
        {{op.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>APPLY</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
