.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

#card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#description {
  text-align: justify;
}

#image {
  margin-bottom: auto;
  width: 100%;
  height: auto;
}

mat-card-title {
  padding-left: 12px;
  font-weight: bold;
}

mat-card-subtitle {
  padding-left: 12px;
}

p {
  font-size: 15px;
}


