.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.container-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background: #E2E2E2;
  border: 0.5px solid #cfcfcf;
  width: fit-content;
}
form{
  width: 600px;
}
.container-inputs{
  display: flex;
  flex-direction: column
}
.primary-button{
  height: 56px;
  font-size: 16px;
}
