<div class="form">
  <div class="container-form">
    <span id="title">Create opportunity</span>
    <div>
      <form [formGroup]="createOpportunityForm" (ngSubmit)="submit()">
        <div class="container-inputs">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input type="text" [formControlName]="'title'" matInput placeholder="Enter title">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <input type="text" [formControlName]="'description'" matInput placeholder="Enter description">
          </mat-form-field>

<!--          <mat-form-field>-->
<!--            <mat-label>Upload image</mat-label>-->
<!--            <input type="file" [formControlName]="'coverImage'" placeholder="Upload image" (change)="onImagesSelected($event)">-->
<!--          </mat-form-field>-->
          <div>
            <label>Upload image</label>
            <input type="file" [formControlName]="'coverImage'" placeholder="Upload image" (change)="onImagesSelected($event)">
          </div>

          <button class="primary-button" mat-flat-button color="primary" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
